.Sidebar {
  width: 200px;
  min-width: 200px;
  height: 100vh;
  background-color: var(--background-secondary);

  display: flex;
  flex-direction: column;
}

.SidebarLogo {
  width: 100%;
  height: 100px;

  display: flex;
  justify-content: center;

  margin-top: 1rem;
}

.SidebarLogo img {
  width: 90px;
  height: 90px;
}

.Sidebarlogout {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
}

.Sidebarlogout img {
  width: 35px;
  height: 35px;
}

.SidebarTop {
  display: flex;
  flex-direction: column;
  
  width: 100%;
  flex: 1;
  overflow-y: auto;
}

.SidebarBottom {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  
  width: 100%;
  flex-shrink: 0;
}

.SidebarRow {
  display: flex;
  flex-direction: column;
  padding: 0.25rem 0;
}
.SidebarRow:hover{
  background-color: var(--background-tertiary);
}

.SidebarRow a {
  text-decoration: none;
  color: var(--text-primary);
  text-align: center;
  font-size: large;
}

.SidebarRow.selected {
  background-color: white;
}