.RegisterPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 100vh;
  width: 100%;
  background-color: var(--background-primary);
  background: linear-gradient(135deg, var(--background-secondary) 50%, var(--background-tertiary) 85%);
}

.RegisterPage h1 {
  margin: 16px;
  color: var(--text-primary);
}

.RegisterBlock {
   display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-radius: 8px;
  border: 1px solid var(--background-secondary);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

  margin: 8px;
  padding-bottom: 16px;

  height: 80%;
  width: 30%;

  background: linear-gradient(320deg, var(--background-primary) 60%, var(--background-tertiary) 90%);

  min-height: 300px;
  max-height: 600px;
}

.RegisterInner {
 display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 100%;
  overflow-y: auto;
  max-height: calc(100% - 60px);
}

.RegisterButton {
  margin-bottom: 20px;
  margin-top:10px
}

.RegisterInputs {
  flex:1;
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-bottom: 10px;

  width: 100%;
}

.RegisterInputChunk {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  margin: 12px;
}

.ErrorMessage {
  color: red;
  margin-bottom: 10px;
  font-weight: 500;
}